* {
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*variables*/

:root {
    --headfoot: rgba(37, 81, 105, 0.326);
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*navbar*/

.navbar {
    height: 70px;
    background-color:var(--headfoot);
}



/*jumbotron*/

.jumbotron {
    background-image: url(../images/headshot.JPG);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
}


/*skills*/

.skills-card-img-top {
    margin: 100px 50px;
    border-radius: 300px;
    height: 150px;
    width: 150px;
}

/*about and contact*/

/*footer*/

footer {
    height: 70px;
    background-color: var(--headfoot);
    display: flex;
    align-items: center;
    justify-content: center;
}
