/* full page styling*/
* {
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*variables for nav and footer colouring*/

:root {
    --headfoot: rgba(37, 81, 105, 0.326);
}


/*styling for navbar*/

.navbar {
    height: 70px;
    background-color:var(--headfoot);
}



/*styling for jumbotron*/

.jumbotron {
    background-image: url(../images/headshot.JPG);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.hero-container {
    margin-left: 15px;
}


/*making the skills cards display correctly*/

.skills-card-img-top {
    margin: 100px 50px;
    border-radius: 300px;
    height: 150px;
    width: 150px;
}

/*work section styling making bootstrap cards display the way I want them to*/

.card-img-top {
    border-radius: 15px;
    margin: 5px 2px;
}

.fb {
    background-color: var(--headfoot);
    border-color: var(--headfoot);
    color: black;
}

/*styling for about me section*/

.about {
    margin: 15px;
}

/*styling for footer, shadow box on links on hover, flex display*/

.contactlinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact {
    font-size: 30px;
}

.contact:hover {
    text-decoration: none;
}

.copy {
    text-align: center;
    padding-bottom: 10px;
}

.contact:hover {
    box-shadow: 3px 3px 5px 2px  rgba(0, 0, 0, 0.472);
    border-radius: 10px;
}

.contactlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

footer {
    background-color: var(--headfoot);
    width: 100%;
    margin-bottom: 0px;
}

/*media quries to make page responsive*/

@media only screen and (max-width: 800px) {
    
    .jumbotron {
        height: 60vh;
    }
    .contactlinks {
        display: flex;
        flex-direction: column;
    }
    } 
}